@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, #49464f 0, #373240 100%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actions {
  text-align: right;
}

#sessions-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 3rem;
  border-radius: 6px;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #5a5563;
}

.session-item {
  display: flex;
  flex-direction: column;
  background-color: #352e41;
  color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.session-item img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.session-item .session-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.session-item .session-data h3,
.session-item .session-data p {
  margin: 0 0 0.25rem 0;
}

.session-item .session-data h3 {
  color: #c7b0ee;
  font-size: 0.85rem;
}

.session-item .session-data p {
  color: #eae3f6;
  font-size: 1rem;
}

.session-item .session-data .actions {
  margin: 2rem 0 1rem 0;
}